<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <mat-nav-list>
      <a mat-list-item *ngFor="let app of apps" (click)="setApp(app)"> {{ app.name }} </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content *ngIf="currentApp">
    <h1> {{ currentApp.name }}</h1>
    <mat-card>
      <div class="row">
        <div class="col-xs-4">
          From:
          <angular2-date-picker [(ngModel)]="startDate" [settings]="{ format: 'yyyy-MM-dd HH:mm', timePicker: true }"></angular2-date-picker>
        </div>
        <div class="col-xs-4">
          To:
          <angular2-date-picker [(ngModel)]="endDate" [settings]="{ format: 'yyyy-MM-dd HH:mm', timePicker: true }"></angular2-date-picker>
        </div>
        <div class="col-xs-4">
          <button mat-flat-button id="search" (click)="getLogs()">
            <i class="fas fa-search"></i>Search</button>
        </div>
      </div>
    </mat-card>
    <mat-card>
      <mat-spinner *ngIf="logsLoading"></mat-spinner>
      <div *ngIf="!logs || logs.length <= 0 && !logsLoading">
        <p>No logs found</p>
      </div>
      <div *ngIf="logs && logs.length > 0 && !logsLoading">
        <p *ngFor="let log of logs">
          <strong>{{ log.pod }}</strong> - {{ log.line }}</p>
      </div>
    </mat-card>
  </mat-drawer-content>
</mat-drawer-container>