.row {
    max-width: 2048px;
    margin: 20px auto !important;
}

mat-card {
    margin: 5px;
}

mat-panel-title {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 17px;
    font-weight: 400;
}

mat-form-field {
    min-width: 400px;
    font-size: 17px;
}

.fill-space {
    flex: 1 1 auto;
}

.flex {
    display: flex;
}

button {
    margin-right: 10px;
}