.body-card {
    margin: 20px;
}

.fill-space {
    flex: 1 1 auto;
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
}

mat-card {
    max-width: 2048px;
    margin: 20px auto !important;
}

mat-spinner {
    margin: 0 auto;
}