<mat-tab-group>
  <mat-tab label="General">
    <mat-spinner *ngIf="!app"></mat-spinner>
    <app-appdetails-general [app]="app" [updates]="updates" *ngIf="app"></app-appdetails-general>
  </mat-tab>
  <mat-tab label="Domains">
    <mat-spinner *ngIf="!app"></mat-spinner>
    <app-appdetails-domains [app]="app" (needsReload)="load()" *ngIf="app"></app-appdetails-domains>
  </mat-tab>
  <mat-tab label="Files">
    <mat-spinner *ngIf="!app"></mat-spinner>
    <app-appdetails-files [app]="app" *ngIf="app"></app-appdetails-files>
  </mat-tab>
  <mat-tab label="Environment">
    <mat-spinner *ngIf="!app"></mat-spinner>
    <app-appdetails-envvars [app]="app" *ngIf="app"></app-appdetails-envvars>
  </mat-tab>
  <mat-tab label="Databases">
    <mat-spinner *ngIf="!app"></mat-spinner>
    <app-appdetails-databases [app]="app" (needsReload)="load()" *ngIf="app"></app-appdetails-databases>
  </mat-tab>
  <mat-tab label="Settings">
    <mat-spinner *ngIf="!app"></mat-spinner>
    <app-appdetails-settings [app]="app" (needsReload)="load()" *ngIf="app"></app-appdetails-settings>
  </mat-tab>
</mat-tab-group>