<mat-tab-group>
  <mat-tab label="General">
    <app-appdetails-general [app]="app" [updates]="updates" ></app-appdetails-general>
  </mat-tab>
  <mat-tab label="Domains">
    <h1>Some more tab content</h1>
    <p>...</p>
  </mat-tab>
  <mat-tab label="Files">
    <app-appdetails-files [app]="app"></app-appdetails-files>
  </mat-tab>
  <mat-tab label="Environment">
      <app-appdetails-envvars [app]="app"></app-appdetails-envvars>
  </mat-tab>
  <mat-tab label="Databases">
      <app-appdetails-databases [app]="app" (needsReload)="load()"></app-appdetails-databases>
  </mat-tab>
  <mat-tab label="Settings">
    <app-appdetails-settings [app]="app" (needsReload)="load()"></app-appdetails-settings>
  </mat-tab>
</mat-tab-group>