.row {
    max-width: 2048px;
    margin: 20px auto !important;
}

.fill-space {
    flex: 1 1 auto;
}

.replicas {
    text-align: center;
    font-size: 3em;
}

mat-card {
    margin: 5px;
}

mat-panel-title {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 17px;
    font-weight: 400;
}